<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(item) -%>">
  <span class='title1'>
    <%= item.title %>
  </span>
  <span class='preview'>
    <%= t('.published') %> <%= l(item.publish_date, :format => :short) %>
  </span>

  <span class='actions'>
    <%= action_icon(:preview, refinery.news_item_path(item), t('.view_live_html')) %>
    <%= action_icon(:edit,    refinery.edit_news_admin_item_path(item), t('.edit') ) %>
    <%= action_icon(:delete,  refinery.news_admin_item_path(item), t('.delete'),
      { class: "cancel confirm-delete",
        data: {confirm: t('message',  scope: 'refinery.admin.delete', title: item.title)}}  ) %>
  </span>
</li>